NodeRed/Flow 6.json
[
    {
        "id": "f8698b0211be42ba",
        "type": "tab",
        "label": "Flow 6 - Intercambio de información ESP32CAM/MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ac4059721ba3dd97",
        "type": "mqtt in",
        "z": "f8698b0211be42ba",
        "name": "",
        "topic": "codigoIoT/flow6/mqtt",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fc96b2893d1b50ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "5eb6faddd02e1cd0"
            ]
        ]
    },
    {
        "id": "5eb6faddd02e1cd0",
        "type": "ui_text",
        "z": "f8698b0211be42ba",
        "group": "49b98484aba6caac",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Texto recibido",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 640,
        "y": 180,
        "wires": []
    },
    {
        "id": "3fc6674871e7fbdc",
        "type": "ui_switch",
        "z": "f8698b0211be42ba",
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "fdbfb9a83b1ff327",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 250,
        "y": 280,
        "wires": [
            [
                "39b8eacd4777d4c9"
            ]
        ]
    },
    {
        "id": "39b8eacd4777d4c9",
        "type": "mqtt out",
        "z": "f8698b0211be42ba",
        "name": "",
        "topic": "codigoIoT/flow6/mqttin",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc96b2893d1b50ab",
        "x": 700,
        "y": 280,
        "wires": []
    },
    {
        "id": "fc96b2893d1b50ab",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "49b98484aba6caac",
        "type": "ui_group",
        "name": "Rx",
        "tab": "16ccbab170c3b2cc",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fdbfb9a83b1ff327",
        "type": "ui_group",
        "name": "Tx",
        "tab": "16ccbab170c3b2cc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "16ccbab170c3b2cc",
        "type": "ui_tab",
        "name": "Flow 6 - Comunicación MQTT con el ESP32CAM",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]